run = "cd src && npm run dev"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "cd src && npm run start"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "cd src && npm run build"]

[[ports]]
localPort = 3000
externalPort = 80
